@import 'theme_light';

$danger: #d55;
$warning: #fd0;
$blue: #1D8CE0;
$success: #1c7;

$light_gray_1: #ddd;
$light_gray_2: #eee;
$light_gray_3: #f7f7f7;

$gray_1: #444;
$gray_2: #666;
$gray_3: #888;
$gray_4: #aaa;

$black: #232323;

$height_1: 24px;
$height_1_inner: 22px;
$height_2: 36px;
$height_2_inner: 32px;

$gap_1: 8px;
$gap_2: 12px;
$gap_3: 20px;
$gap_4: 36px;

$radius_sm: 2px;
$radius_md: 6px;
$radius_lg: 12px;

:export{
  theme_color: $theme_color;
  theme_font_color: $theme_font_color;
  danger: $danger;
  warning: $warning;
  blue: $blue;
  success: $success;
  light_gray_1: $light_gray_1;
  light_gray_2: $light_gray_2;
  light_gray_3: $light_gray_3;
  gray_1: $gray_1;
  gray_2: $gray_2;
  gray_3: $gray_3;
  gray_4: $gray_4;
  black: $black;
  height_1: $height_1;
  height_2: $height_2;
  height_1_inner: $height_1_inner;
  height_2_inner: $height_2_inner;
  gap_1: $gap_1;
  gap_2: $gap_2;
  gap_3: $gap_3;
  gap_4: $gap_4;
  radius_sm: $radius_sm;
  radius_md: $radius_md;
  radius_lg: $radius_lg;
}

